<div fxLayout="row">
  <div fxFlex="25%">
    <div class="p-2">
      Arcs threshold:
      <mat-slider min="-1.00" max="1.00" step="0.005" [value]="arcsThreshold" (change)="changeSelectedArcValue($event)"></mat-slider>
    </div>
    <div class="p-2">
      Metric selection:<br />
      <mat-select placeholder="Metric" [(value)]="metric" (selectionChange)="metricChanged($event)">
        <mat-option value="handover">Handover of Work</mat-option>
        <mat-option value="working_together">Working Together</mat-option>
        <mat-option value="subcontracting">Subcontracting</mat-option>
        <mat-option value="jointactivities">Joint Activities</mat-option>
      </mat-select>
    </div>
  </div>
  <div fxFlex="75%" style="overflow: hidden">
    <div id="divSna" style="width: 100%; height: 360px; overflow: hidden">
      <iframe [src]="snaContent" style="width: 100%; height: 100%;" frameBorder="0"></iframe>
    </div>
  </div>
</div>
