<mat-menu #filtersMenu="matMenu">
  <button mat-menu-item (click)="startActivitiesFilter()">
    Start activities filter
  </button>
  <button mat-menu-item (click)="endActivitiesFilter()">
    End activities filter
  </button>
  <button mat-menu-item (click)="variantsFilter()">
    Variants filter
  </button>
  <button mat-menu-item (click)="attributesFilter()">
    Attributes filter
  </button>
</mat-menu>
<span *ngIf="processProvided == true"><a routerLink="/process" alt="Process"><img src="../../assets/process_model.svg" /></a></span>
<span *ngIf="processProvided == true"><a routerLink="/cases" alt="Cases"><img src="../../assets/cases.svg" /></a></span>
<span *ngIf="processProvided == true"><a routerLink="/sna" alt="SNA"><img src="../../assets/sna_icon.svg" /></a></span>
<span *ngIf="processProvided == true"><a routerLink="/simulation" alt="Simulation"><img src="../../assets/simulation.svg" /></a></span>
<span *ngIf="processProvided == true"><a routerLink="/statistics" alt="Statistics"><img src="../../assets/statistics.svg" /></a></span>
<span>&nbsp;&nbsp;</span>
<span *ngIf="processProvided == true && router.url.startsWith('/process')" [matMenuTriggerFor]="filtersMenu">
    <img src="../../assets/filter.svg" alt="Help" />
  </span>
