<br />
<span *ngIf="processProvided == true">&nbsp;&nbsp;<a routerLink="/process" alt="Process"><img src="../../assets/process_model.svg" /> <b>Process</b></a></span><br />
<span *ngIf="processProvided == true">&nbsp;&nbsp;<a routerLink="/cases" alt="Cases"><img src="../../assets/cases.svg" /> <b>Cases</b></a></span><br />
<span *ngIf="processProvided == true">&nbsp;&nbsp;<a routerLink="/sna" alt="SNA"><img src="../../assets/sna_icon.svg" /> <b>S.N.A.</b></a></span><br />
<span *ngIf="processProvided == true">&nbsp;&nbsp;<a routerLink="/simulation" alt="Simulation"><img src="../../assets/simulation.svg" /> <b>Simulation</b></a></span><br />
<span *ngIf="processProvided == true">&nbsp;&nbsp;<a routerLink="/statistics" alt="Statistics"><img src="../../assets/statistics.svg" /> <b>Statistics</b></a></span><br />
<app-all-filters *ngIf="processProvided == true && router.url.startsWith('/process')"></app-all-filters>
<br /><br />
