<div id="container0" class="container" fxLayout="column" fxLayoutAlign="center" fxFlexFill>
  <app-header></app-header>
    <app-login fxFlex="95%" *ngIf="sessionId_provided == false"></app-login>
    <app-filters fxFlex="7%" style="background-color: #FFC0D5"
                 *ngIf="sessionId_provided == true && process_provided == true  && !router.url.startsWith('/logsList')"></app-filters>
    <app-process-list fxFlex="95%"
                      *ngIf="sessionId_provided == true && (process_provided == false || router.url.startsWith('/logsList'))"></app-process-list>
    <div fxFlex="77%" *ngIf="sessionId_provided == true && process_provided == true  && !router.url.startsWith('/logsList')">
      <div *ngIf="router.url.startsWith('/process')">
        <app-process-model></app-process-model>
      </div>
      <div *ngIf="router.url.startsWith('/sna')">
        <app-sna></app-sna>
      </div>
      <div *ngIf="router.url.startsWith('/statistics')">
        <app-statistics></app-statistics>
      </div>
      <div *ngIf="router.url.startsWith('/simulation')">
        <app-transient></app-transient>
      </div>
      <div *ngIf="router.url.startsWith('/cases')">
        <app-cases></app-cases>
      </div>
      <div *ngIf="router.url.startsWith('/alignments')">
        <app-alignments></app-alignments>
      </div>
      <div *ngIf="router.url.startsWith('/login')">
        <app-login></app-login>
      </div>
    </div>
    <div fxFlex="5%" style="background-color: #FF4081">
      <app-footer></app-footer>
    </div>
</div>
