<div fxLayout="row">
  <div fxFlex="25%">
    <div class="p-2">
      % Variants: <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      % Cases: <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      % Events: <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </div>
    <div class="p-1">
      Simplicity:
      <mat-slider min="0.01" max="1.00" step="0.005" [value]="simplicity" (change)="sliderIsChanged($event)"></mat-slider>
    </div>
    <div class="p-1">
        Type of model:<br />
        <mat-select placeholder="Type of model" (ngModel)="typeOfModel" [value]="typeOfModel" (selectionChange)="typeOfModelIsChanged($event)">
          <mat-option value="dfg">DFG</mat-option>
          <mat-option value="tree">Process Tree (Inductive)</mat-option>
          <mat-option value="inductive">Petri (Inductive)</mat-option>
          <mat-option value="alpha">Petri (Alpha)</mat-option>
        </mat-select>
    </div>
    <div class="p-2">
      Decoration:<br />
      <mat-radio-group (ngModel)="decoration" (change)="decorationIsChanged($event)" [value]="decoration">
        <mat-radio-button value="freq">Frequency</mat-radio-button>
        <mat-radio-button value="perf">Performance</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div id="imageProcessModelDiv" fxFlex="75%" style="overflow: hidden">
    <img id="imageProcessModelImage" [src]="processModelBase64Sanitized">
  </div>
</div>
