<mat-menu #filtersMenu="matMenu">
  <button mat-menu-item (click)="startActivitiesFilter()">
    Start activities filter
  </button>
  <button mat-menu-item (click)="endActivitiesFilter()">
    End activities filter
  </button>
  <button mat-menu-item (click)="variantsFilter()">
    Variants filter
  </button>
  <button mat-menu-item (click)="attributesFilter()">
    Attributes filter
  </button>
</mat-menu>
<span [matMenuTriggerFor]="filtersMenu">
  <img src="../../assets/filter.svg" alt="Help" />
  Filtering
</span>
