<mat-toolbar color="accent" style="min-height: 33px; max-height: 33px">
  <mat-menu #appMenu="matMenu">
    {{helpString}}
  </mat-menu>
  <mat-menu #filtersMenu="matMenu">
    <button mat-menu-item (click)="startActivitiesFilter()">
      Start activities filter
    </button>
    <button mat-menu-item (click)="endActivitiesFilter()">
      End activities filter
    </button>
    <button mat-menu-item (click)="variantsFilter()">
      Variants filter
    </button>
    <button mat-menu-item (click)="attributesFilter()">
      Attributes filter
    </button>
  </mat-menu>
  <mat-menu #uploadMenu="matMenu">
    <button mat-menu-item (click)="uploader.click()">
      Upload
    </button>
  </mat-menu>
  <mat-menu #downloadMenu="matMenu">
    <button mat-menu-item (click)="downloadCsv()">
      Download CSV
    </button>
    <button mat-menu-item (click)="downloadXes()">
      Download XES
    </button>
  </mat-menu>
  <span><a routerLink="/logsList"><img src="../../assets/home.svg" alt="Home" /></a></span>
  <span>&nbsp;&nbsp;</span>
  <span [matMenuTriggerFor]="appMenu">
    <img src="../../assets/help.svg" alt="Help" />
  </span>
  <span>&nbsp;&nbsp;</span>
  <span>
    <a *ngIf="loginEnabled" (click)="doLogout()"><img src="../../assets/logout.svg" alt="Logout" /></a>
  </span>
  <span>&nbsp;&nbsp;</span>
  <span *ngIf="processProvided == false && enableUpload == true" [matMenuTriggerFor]="uploadMenu">
    <img src="../../assets/up.svg" alt="Upload" />
  </span>
  <span *ngIf="processProvided == true && enableDownload == true" [matMenuTriggerFor]="downloadMenu">
    <img src="../../assets/down.svg" alt="Download" />
  </span>
  <span *ngIf="processProvided == true"><a routerLink="/process" alt="Process"><img src="../../assets/process_model.svg" /></a></span>
  <span *ngIf="processProvided == true"><a routerLink="/cases" alt="Cases"><img src="../../assets/cases.svg" /></a></span>
  <span *ngIf="processProvided == true"><a routerLink="/sna" alt="SNA"><img src="../../assets/sna_icon.svg" /></a></span>
  <span *ngIf="processProvided == true"><a routerLink="/simulation" alt="Simulation"><img src="../../assets/simulation.svg" /></a></span>
  <span *ngIf="processProvided == true"><a routerLink="/statistics" alt="Statistics"><img src="../../assets/statistics.svg" /></a></span>
  <span>&nbsp;&nbsp;</span>
  <span *ngIf="processProvided == true && router.url.startsWith('/process')" [matMenuTriggerFor]="filtersMenu">
    <img src="../../assets/filter.svg" alt="Help" />
  </span>
    <span style="flex: 1 1 auto;"></span>
  <span style="font-size: 12px">{{title}}</span>
</mat-toolbar>
<input hidden type="file" #uploader
       (change)="uploadFile($event)"/>
